<div class="newsletter-container">
  <div class="newsletter-header">
    <h3>Letters from The Studio</h3>
    <p>
      I am collecting emails to start a newsletter.
      The newsletter will be interesting and fun.
      To receive the project when it launches, leave your email below.
    </p>
  </div>
  
  <form action="https://formsubmit.co/80b70055897985505671eff29010d74c" method="POST" class="newsletter-form">
    <input type="email" name="email" placeholder="Email Address" required>
    <button type="submit">Sign Up</button>
    <!-- FormSubmit hidden configs -->
    <!-- <input type="hidden" name="_captcha" value="false"> -->
  </form>
</div>

